<app-header [pageTitle]="'استعلام عن معاينة فنية لأرض'" [showBackButton]="true" [showHomeButton]="true"
  [backButtonLabel]="'العودة'" [backButtonAriaLabel]="'العودة للقائمة الرئيسية'" (backClicked)="goBack()"
  (homeClicked)="goHome()" (logoutClicked)="logout()">
</app-header>

<div class="container">
  <div class="page-content">

    <h1>استعلام عن معاينة فنية لأرض</h1>
    <p class="subtitle">البحث والاستعلام عن معاينة فنية لأرض</p>

    <div class="form-wrapper">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
        <div class="form-row">
          <div class="form-group">
            <label for="landCode" class="form-label">
              كود قطعة الأرض

            </label>
            <div class="form-group">
              <input type="text" id="landCode" formControlName="landCode" class="form-input"
                [class.error]="getFieldError('landCode')" placeholder="أدخل كود قطعة الأرض (مثال: 132513)"
                autocomplete="off" />
              @if (getFieldError('landCode')) {
              <div class="error-message">
                {{ getFieldError('landCode') }}
              </div>
              }
            </div>
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">
            <span>🔍</span>
            بحث
          </button>
        </div>
      </form>
    </div>

    <!-- Results Section -->
    @if (hasSearched()) {
    <div class="results-section">
      @if (selectedLandTechnicalInspection()) {
      <div class="results-header">
        <h3 class="results-title">
          <span class="results-icon">📊</span>
          نتائج البحث
        </h3>
      </div>

      <div class="form-row">

        <div class="form-wrapper">
          <div class="form-section">
            <h2 class="section-title">معلومات الأرض الأساسية</h2>
            <div class="form-row">

              <!-- كود قطعة الأرض -->
              <div class="form-group">
                <label for="landCode">كود قطعة الأرض:</label>
                <label id="landCode">{{this.selectedLandTechnicalInspection()?.landCode}}</label>
              </div>

              <!-- كود المحافظة -->
              <div class="form-group">
                <label for="governorateCode">كود المحافظة:</label>
                <label id="landCode">{{this.selectedLandTechnicalInspection()?.governorate}}</label>
              </div>

              <!-- عنوان قطعة الأرض -->
              <div class="form-group">
                <label for="landAddress">عنوان قطعة الأرض:</label>
                <span id="landAddress">{{this.selectedLandTechnicalInspection()?.landAddress}}</span>
              </div>

              <!-- اسم مالك الأرض -->
              <div class="form-group">
                <label for="landOwnerName">اسم مالك الأرض:</label>
                <span id="landOwnerName">{{this.selectedLandTechnicalInspection()?.landOwnerName}}</span>
              </div>

              <!-- عنوان مالك الأرض -->
              <div class="form-group">
                <label for="landOwnerAddress">عنوان مالك الأرض:</label>
                <span id="landOwnerAddress">{{this.selectedLandTechnicalInspection()?.landOwnerAddress}}</span>
              </div>

              <!-- مساحة الأرض -->
              <div class="form-group">
                <label for="totalArea">مساحة الأرض:</label>
                <span id="totalArea">{{this.selectedLandTechnicalInspection()?.totalArea}}</span>
              </div>

              <!-- طبيعة الأرض -->
              <div class="form-group">
                <label for="landNature">طبيعة الأرض:</label>
                <span id="landNature">{{this.selectedLandTechnicalInspection()?.landNature}}</span>
              </div>

              <!-- كود الملكية-->
              <div class="form-group">
                <label for="landOwnershipCode">كود الملكية:</label>
                <span id="landOwnershipCode">{{this.selectedLandTechnicalInspection()?.landOwnerShipName}}</span>
              </div>
            </div>
          </div>

          <!-- الإحداثيات وأطوال الحدود -->
          <div class="form-section">
            <h2 class="section-title">الحدود واطوال الحدود</h2>
            <div class="form-row">

              <!-- الحد الشمالي -->
              <div class="form-group">
                <label for="northernBoundary">الحد الشمالي</label>
                <span id="northernBoundary">{{this.selectedLandTechnicalInspection()?.northernBoundary}}</span>
              </div>

              <!-- طول الحد الشمالي -->
              <div class="form-group">
                <label for="northernBoundaryLength">طول الحد الشمالي</label>
                <span
                  id="northernBoundaryLength">{{this.selectedLandTechnicalInspection()?.northernBoundaryLength}}</span>
              </div>
              <div class="form-group">
                <div class="form-row"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div>م</div>
              </div>

              <!-- الحد الجنوبي -->
              <div class="form-group">
                <label for="southernBoundary">الحد الجنوبي</label>
                <span id="southernBoundary">{{this.selectedLandTechnicalInspection()?.southernBoundary}}</span>
              </div>

              <!-- طول الحد الجنوبي -->
              <div class="form-group">
                <label for="southernBoundaryLength">طول الحد الجنوبي</label>
                <span
                  id="southernBoundaryLength">{{this.selectedLandTechnicalInspection()?.southernBoundaryLength}}</span>
              </div>
              <div class="form-group">
                <div class="form-row"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div>م</div>
              </div>

              <!-- الحد الشرقي -->
              <div class="form-group">
                <label for="easternBoundary">الحد الشرقي</label>
                <span id="easternBoundary">{{this.selectedLandTechnicalInspection()?.easternBoundary}}</span>
              </div>

              <!-- طول الحد الشرقي -->
              <div class="form-group">
                <label for="easternBoundaryLength">طول الحد الشرقي</label>
                <span
                  id="easternBoundaryLength">{{this.selectedLandTechnicalInspection()?.easternBoundaryLength}}</span>
              </div>
              <div class="form-group">
                <div class="form-row"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div>م</div>
              </div>

              <!-- الحد الغربي -->
              <div class="form-group">
                <label for="westernBoundary">الحد الغربي</label>
                <span id="westernBoundary">{{this.selectedLandTechnicalInspection()?.westernBoundary}}</span>
              </div>

              <!-- طول الحد الغربي -->
              <div class="form-group">
                <label for="westernBoundaryLength">طول الحد الغربي</label>
                <span
                  id="westernBoundaryLength">{{this.selectedLandTechnicalInspection()?.westernBoundaryLength}}</span>
              </div>
              <div class="form-group">
                <div class="form-row"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div>م</div>
              </div>

              <!-- الحد الشمال الشرقي -->
              <div class="form-group">
                <label for="northeastBoundary">الحد الشمال الشرقي</label>
                <span id="northeastBoundary">{{this.selectedLandTechnicalInspection()?.northeastBoundary}}</span>
              </div>

              <!-- طول الحد الشمال الشرقي -->
              <div class="form-group">
                <label for="northeastBoundaryLength">طول الحد الشمال الشرقي</label>
                <span
                  id="northeastBoundaryLength">{{this.selectedLandTechnicalInspection()?.northeastBoundaryLength}}</span>
              </div>
              <div class="form-group">
                <div class="form-row"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div>م</div>
              </div>

              <!-- الحد الشمال الغربي -->
              <div class="form-group">
                <label for="northwestBoundary">الحد الشمال الغربي</label>
                <span id="northwestBoundary">{{this.selectedLandTechnicalInspection()?.northwestBoundary}}</span>
              </div>

              <!-- طول الحد الشمال الغربي -->
              <div class="form-group">
                <label for="northwestBoundaryLength">طول الحد الشمال الغربي</label>
                <span
                  id="northwestBoundaryLength">{{this.selectedLandTechnicalInspection()?.northwestBoundaryLength}}</span>
              </div>
              <div class="form-group">
                <div class="form-row"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div>م</div>
              </div>

              <!-- الحد الجنوب شرقي -->
              <div class="form-group">
                <label for="southeastBoundary">الحد الجنوب الشرقي</label>
                <span id="southeastBoundary">{{this.selectedLandTechnicalInspection()?.southeastBoundary}}</span>
              </div>

              <!-- طول الحد الجنوب الشرقي -->
              <div class="form-group">
                <label for="southeastBoundaryLength">طول الحد الجنوب الشرقي</label>
                <span
                  id="southeastBoundaryLength">{{this.selectedLandTechnicalInspection()?.southeastBoundaryLength}}</span>
              </div>
              <div class="form-group">
                <div class="form-row"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div>م</div>
              </div>

              <!-- الحد الجنوب الغربي -->
              <div class="form-group">
                <label for="southwestBoundary">الحد الجنوب الغربي</label>
                <span id="southwestBoundary">{{this.selectedLandTechnicalInspection()?.southwestBoundary}}</span>
              </div>

              <!-- طول الحد الجنوب الغربي -->
              <div class="form-group">
                <label for="southwestBoundaryLength">طول الحد الجنوب الغربي</label>
                <span
                  id="southwestBoundaryLength">{{this.selectedLandTechnicalInspection()?.southwestBoundaryLength}}</span>
              </div>
              <div class="form-group">
                <div class="form-row"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div>م</div>
              </div>
            </div>
          </div>

          <!-- المسؤول الفني -->
          <div class="form-section">
            <h2 class="section-title">بيانات المسؤولين وتاريخ المعاينة</h2>
            <div class="form-row">
              <!-- بيانات المسؤول الفني -->
              <div class="form-group">
                <label for="technicalResponsiblePersonId">رقم المسؤول الفني:</label>
                <span
                  id="technicalResponsiblePersonId">{{selectedLandTechnicalInspection()?.legalResponsiblePersonId}}</span>
              </div>

              <!-- بيانات المسؤول القانوني -->
              <div class="form-group">
                <label for="legalResponsiblePersonId">رقم المسؤول القانوني:</label>
                <span
                  id="legalResponsiblePersonId">{{this.selectedLandTechnicalInspection()?.legalResponsiblePersonId}}</span>
              </div>
            </div>
            <div class="form-row">
              <!-- تاريخ المعاينة الفنية -->
              <div class="form-group">
                <label for="technicalInspectionDate">تاريخ المعاينة الفنية</label>
                <span id="technicalInspectionDate">{{this.selectedLandTechnicalInspection()?.technicalInspectionDate|
                  date:'fullDate'}}</span>
              </div>

              <!-- تاريخ لجنة الاحتياج -->
              <div class="form-group">
                <label for="needsCommitteeDate">تاريخ لجنة الاحتياج:</label>
                <span id="needsCommitteeDate">{{this.selectedLandTechnicalInspection()?.needsCommitteeDate |
                  date:'fullDate'}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      }
    </div>
    }
  </div>
</div>