<app-header [pageTitle]="'إدخال بيانات المعاينة الفنية للأراضي'" [showBackButton]="true" [showHomeButton]="true"
  [backButtonLabel]="'العودة'" [backButtonAriaLabel]="'العودة للقائمة الرئيسية'" (backClicked)="goBack()"
  (homeClicked)="goHome()" (logoutClicked)="logout()">
</app-header>

<div class="container">
  <div class="page-content">

    <h1>إدخال بيانات معاينه فنيه لأرض</h1>
    <p class="subtitle">إدخال بيانات معاينة فنيه لأرض</p>

    <div class="form-wrapper">
      <!-- <form [formGroup]="form" (ngSubmit)="submit()" class="land-data-form"> -->
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-section">
          <h2 class="section-title">معلومات الأرض الأساسية</h2>
          <div class="form-row">

            <!-- كود قطعة الأرض -->
            <div class="form-group">
              <label for="landCode">كود قطعة الأرض:<span class="required">*</span></label>
              <input id="landCode" formControlName="landCode" type="text" placeholder="ادخل كود قطعة الأرض"
                [class.error]="form.get('landCode')?.touched && form.get('landCode')?.invalid" />
              @if (form.get('landCode')?.invalid && form.get('landCode')?.touched)
              {
              @if (form.get('landCode')?.hasError('required')) {
              <span class="error-message">كود قطعة الأرض مطلوب</span>
              }
              }
            </div>

            <!-- كود المحافظة -->
            <div class="form-group">
              <label for="governorateCode">كود المحافظة:<span class="required">*</span></label>
              <select formControlName="governorateCode"
                [class.error]="form.get('governorateCode')?.invalid && form.get('governorateCode')?.touched">
                <option value="">-- اختر --</option>
                @for (gov of governorates; track gov.id) {
                <option [value]="gov.id">{{ gov.name }}</option>
                }
              </select>
              @if (form.get('governorateCode')?.invalid && form.get('governorateCode')?.touched) {
              <span class="error-message">كود المحافظة مطلوب</span>
              }
            </div>

            <!-- عنوان قطعة الأرض -->
            <div class="form-group">
              <label for="landAddress">عنوان قطعة الأرض:<span class="required">*</span></label>
              <input id="landAddress" formControlName="landAddress" type="text" placeholder="ادخل عنوان قطعة الأرض"
                [class.error]="form.get('landAddress')?.touched && form.get('landCode')?.invalid" />
              @if (form.get('landAddress')?.invalid && form.get('landAddress')?.touched)
              {
              @if (form.get('landAddress')?.hasError('required')) {
              <span class="error-message">عنوان قطعة الأرض مطلوب</span>
              }
              @if (form.get('landAddress')?.hasError('maxlength')) {
              <span class="error-message">عنوان قطعة الأرض يجب أن يكون أقل من 250 حرف</span>
              }
              }
            </div>

            <!-- اسم مالك الأرض -->
            <div class="form-group">
              <label for="landOwnerName">اسم مالك الأرض:<span class="required">*</span></label>
              <input id="landOwnerName" formControlName="landOwnerName" type="text" placeholder="ادخل اسم مالك الأرض"
                [class.error]="form.get('landOwnerName')?.touched && form.get('landOwnerName')?.invalid" />
              @if (form.get('landOwnerName')?.invalid && form.get('landOwnerName')?.touched)
              {
              @if (form.get('landOwnerName')?.hasError('required')) {
              <span class="error-message">اسم مالك الأرض مطلوب</span>
              }
              @if (form.get('landOwnerName')?.hasError('maxlength')) {
              <span class="error-message">اسم مالك الأرض يجب أن يكون أقل من 100 حرف</span>
              }
              }
            </div>

            <!-- عنوان مالك الأرض -->
            <div class="form-group">
              <label for="landOwnerAddress">عنوان مالك الأرض:<span class="required">*</span></label>
              <input id="landOwnerAddress" formControlName="landOwnerAddress" type="text"
                placeholder="ادخل عنوان مالك الأرض"
                [class.error]="form.get('landOwnerAddress')?.touched && form.get('landOwnerAddress')?.invalid" />
              @if (form.get('landOwnerAddress')?.invalid && form.get('landOwnerAddress')?.touched)
              {
              @if (form.get('landOwnerAddress')?.hasError('required')) {
              <span class="error-message">عنوان مالك الأرض مطلوب</span>
              }
              @if (form.get('landOwnerAddress')?.hasError('maxlength')) {
              <span class="error-message">عنوان مالك الأرض يجب أن يكون أقل من 100 حرف</span>
              }
              }
            </div>

            <!-- مساحة الأرض -->
            <div class="form-group">
              <label for="totalArea">مساحة الأرض:<span class="required">*</span></label>
              <input id="totalArea" formControlName="totalArea" type="text" placeholder="ادخل مساحة الأرض"
                [class.error]="form.get('totalArea')?.touched && form.get('landOwnerAddress')?.invalid" />
              @if (form.get('totalArea')?.invalid && form.get('landOwnerAddress')?.touched)
              {
              @if (form.get('totalArea')?.hasError('required')) {
              <span class="error-message">مساحة الأرض الكلية مطلوبه</span>
              }
              }
            </div>

            <!-- طبيعة الأرض -->
            <div class="form-group">
              <label for="landNature">طبيعة الأرض:<span class="required">*</span></label>
              <select formControlName="landNature"
                [class.error]="form.get('landNature')?.invalid && form.get('landNature')?.touched">
                <option value="">اختر</option>
                <option value="زراعي">زراعي</option>
                <option value="مباني">مباني</option>
              </select>
              @if (form.get('landNature')?.invalid && form.get('landNature')?.touched) {
              <span class="error-message">طبيعة الأرض مطلوبة</span>
              }
            </div>

            <!-- كود الملكية-->
            <div class="form-group">
              <label for="landOwnershipCode">كود الملكية:<span class="required">*</span></label>
              <select formControlName="landOwnershipCode"
                [class.error]="form.get('landOwnershipCode')?.invalid && form.get('landOwnershipCode')?.touched">
                <option value="">-- اختر --</option>
                @for (land of landOwners; track land.id) {
                <option [value]="land.id">{{ land.name }}</option>
                }
              </select>
              @if (form.get('landOwnershipCode')?.invalid && form.get('landOwnershipCode')?.touched) {
              <span class="error-message">كود الملكية مطلوب</span>
              }
            </div>
          </div>
        </div>

        <!-- الإحداثيات وأطوال الحدود -->
        <div class="form-section">
          <h2 class="section-title">الحدود واطوال الحدود</h2>
          <div class="form-row">

            <!-- الحد الشمالي -->
            <div class="form-group">
              <label for="northernBoundary">الحد الشمالي<span class="required">*</span></label>
              <input id="northernBoundary" formControlName="northernBoundary" type="text"
                placeholder="ادخل الحد الشمالي"
                [class.error]="form.get('northernBoundary')?.touched && form.get('northernBoundary')?.invalid" />
              @if (form.get('northernBoundary')?.invalid && form.get('northernBoundary')?.touched)
              {
              @if (form.get('northernBoundary')?.hasError('required')) {
              <span class="error-message">الحد الشمالي مطلوب</span>
              }
              }
            </div>

            <!-- طول الحد الشمالي -->
            <div class="form-group">
              <label for="northernBoundaryLength">طول الحد الشمالي<span class="required">*</span></label>
              <input id="northernBoundaryLength" formControlName="northernBoundaryLength" type="text"
                placeholder="أدخل طول الحد الشمالي"
                [class.error]="form.get('northernBoundaryLength')?.touched && form.get('northernBoundaryLength')?.invalid" />
              @if (form.get('northernBoundaryLength')?.invalid && form.get('northernBoundaryLength')?.touched)
              {
              @if (form.get('northernBoundaryLength')?.hasError('required')) {
              <span class="error-message">طول الحد الشمالي مطلوب</span>
              }
              }
            </div>
            <div class="form-group">
              <div class="form-row"></div>
              <div class="col-md-4"></div>
              <div class="col-md-4"></div>
              <div>م</div>
            </div>

            <!-- الحد الجنوبي -->
            <div class="form-group">
              <label for="southernBoundary">الحد الجنوبي<span class="required">*</span></label>
              <input id="southernBoundary" formControlName="southernBoundary" type="text"
                placeholder="ادخل الحد الجنوبي"
                [class.error]="form.get('southernBoundary')?.touched && form.get('southernBoundary')?.invalid" />
              @if (form.get('southernBoundary')?.invalid && form.get('southernBoundary')?.touched)
              {
              @if (form.get('southernBoundary')?.hasError('required')) {
              <span class="error-message">الحد الجنوبي مطلوب</span>
              }
              }
            </div>

            <!-- طول الحد الجنوبي -->
            <div class="form-group">
              <label for="southernBoundaryLength">طول الحد الجنوبي<span class="required">*</span></label>
              <input id="southernBoundaryLength" formControlName="southernBoundaryLength" type="text"
                placeholder="أدخل طول الحد الجنوبي"
                [class.error]="form.get('southernBoundaryLength')?.touched && form.get('southernBoundaryLength')?.invalid" />
              @if (form.get('southernBoundaryLength')?.invalid && form.get('southernBoundaryLength')?.touched)
              {
              @if (form.get('southernBoundaryLength')?.hasError('required')) {
              <span class="error-message">طول الحد الجنوبي مطلوب</span>
              }
              }
            </div>
            <div class="form-group">
              <div class="form-row"></div>
              <div class="col-md-4"></div>
              <div class="col-md-4"></div>
              <div>م</div>
            </div>

            <!-- الحد الشرقي -->
            <div class="form-group">
              <label for="easternBoundary">الحد الشرقي<span class="required">*</span></label>
              <input id="easternBoundary" formControlName="easternBoundary" type="text" placeholder="ادخل الحد الشرقي"
                [class.error]="form.get('easternBoundary')?.touched && form.get('easternBoundary')?.invalid" />
              @if (form.get('easternBoundary')?.invalid && form.get('easternBoundary')?.touched)
              {
              @if (form.get('easternBoundary')?.hasError('required')) {
              <span class="error-message">الحد الشرقي مطلوب</span>
              }
              }
            </div>

            <!-- طول الحد الشرقي -->
            <div class="form-group">
              <label for="easternBoundaryLength">طول الحد الشرقي<span class="required">*</span></label>
              <input id="easternBoundaryLength" formControlName="easternBoundaryLength" type="text"
                placeholder="أدخل طول الحد الشرقي"
                [class.error]="form.get('easternBoundaryLength')?.touched && form.get('easternBoundaryLength')?.invalid" />
              @if (form.get('easternBoundaryLength')?.invalid && form.get('easternBoundaryLength')?.touched)
              {
              @if (form.get('easternBoundaryLength')?.hasError('required')) {
              <span class="error-message">طول الحد الشرقي مطلوب</span>
              }
              }
            </div>
            <div class="form-group">
              <div class="form-row"></div>
              <div class="col-md-4"></div>
              <div class="col-md-4"></div>
              <div>م</div>
            </div>

            <!-- الحد الغربي -->
            <div class="form-group">
              <label for="westernBoundary">الحد الغربي<span class="required">*</span></label>
              <input id="westernBoundary" formControlName="westernBoundary" type="text" placeholder="ادخل الحد الغربي"
                [class.error]="form.get('westernBoundary')?.touched && form.get('westernBoundary')?.invalid" />
              @if (form.get('westernBoundary')?.invalid && form.get('westernBoundary')?.touched)
              {
              @if (form.get('westernBoundary')?.hasError('required')) {
              <span class="error-message">الحد الغربي مطلوب</span>
              }
              }
            </div>

            <!-- طول الحد الغربي -->
            <div class="form-group">
              <label for="westernBoundaryLength">طول الحد الغربي<span class="required">*</span></label>
              <input id="westernBoundaryLength" formControlName="westernBoundaryLength" type="text"
                placeholder="أدخل طول الحد الغربي"
                [class.error]="form.get('westernBoundaryLength')?.touched && form.get('westernBoundaryLength')?.invalid" />
              @if (form.get('westernBoundaryLength')?.invalid && form.get('westernBoundaryLength')?.touched)
              {
              @if (form.get('westernBoundaryLength')?.hasError('required')) {
              <span class="error-message">طول الحد الغربي مطلوب</span>
              }
              }
            </div>
            <div class="form-group">
              <div class="form-row"></div>
              <div class="col-md-4"></div>
              <div class="col-md-4"></div>
              <div>م</div>
            </div>

            <!-- الحد الشمال الشرقي -->
            <div class="form-group">
              <label for="northeastBoundary">الحد الشمال الشرقي<span class="required">*</span></label>
              <input id="northeastBoundary" formControlName="northeastBoundary" type="text"
                placeholder="ادخل الحد الشمال الشرقي"
                [class.error]="form.get('northeastBoundary')?.touched && form.get('northeastBoundary')?.invalid" />
              @if (form.get('northeastBoundary')?.invalid && form.get('northeastBoundary')?.touched)
              {
              @if (form.get('northeastBoundary')?.hasError('required')) {
              <span class="error-message">الحد الشمال الشرقي مطلوب</span>
              }
              }
            </div>

            <!-- طول الحد الشمال الشرقي -->
            <div class="form-group">
              <label for="northeastBoundaryLength">طول الحد الشمال الشرقي<span class="required">*</span></label>
              <input id="northeastBoundaryLength" formControlName="northeastBoundaryLength" type="text"
                placeholder="أدخل طول الحد الشمال الشرقي"
                [class.error]="form.get('northeastBoundaryLength')?.touched && form.get('northeastBoundaryLength')?.invalid" />
              @if (form.get('northeastBoundaryLength')?.invalid && form.get('northeastBoundaryLength')?.touched)
              {
              @if (form.get('westernBoundaryLength')?.hasError('required')) {
              <span class="error-message">طول الحد الشمال الشرقي مطلوب</span>
              }
              }
            </div>
            <div class="form-group">
              <div class="form-row"></div>
              <div class="col-md-4"></div>
              <div class="col-md-4"></div>
              <div>م</div>
            </div>

            <!-- الحد الشمال الغربي -->
            <div class="form-group">
              <label for="northwestBoundary">الحد الشمال الغربي<span class="required">*</span></label>
              <input id="northwestBoundary" formControlName="northwestBoundary" type="text"
                placeholder="ادخل الحد الشمال الغربي"
                [class.error]="form.get('northwestBoundary')?.touched && form.get('northwestBoundary')?.invalid" />
              @if (form.get('northwestBoundary')?.invalid && form.get('northwestBoundary')?.touched)
              {
              @if (form.get('northwestBoundary')?.hasError('required')) {
              <span class="error-message">الحد الشمال الغربي مطلوب</span>
              }
              }
            </div>

            <!-- طول الحد الشمال الغربي -->
            <div class="form-group">
              <label for="northwestBoundaryLength">طول الحد الشمال الغربي<span class="required">*</span></label>
              <input id="northwestBoundaryLength" formControlName="northwestBoundaryLength" type="text"
                placeholder="أدخل طول الحد الشمال الغربي"
                [class.error]="form.get('northwestBoundaryLength')?.touched && form.get('northwestBoundaryLength')?.invalid" />
              @if (form.get('northwestBoundaryLength')?.invalid && form.get('northwestBoundaryLength')?.touched)
              {
              @if (form.get('westernBoundaryLength')?.hasError('required')) {
              <span class="error-message">طول الحد الشمال الغربي مطلوب</span>
              }
              }
            </div>
            <div class="form-group">
              <div class="form-row"></div>
              <div class="col-md-4"></div>
              <div class="col-md-4"></div>
              <div>م</div>
            </div>

            <!-- الحد الجنوب شرقي -->
            <div class="form-group">
              <label for="southeastBoundary">الحد الجنوب الشرقي<span class="required">*</span></label>
              <input id="southeastBoundary" formControlName="southeastBoundary" type="text"
                placeholder="ادخل الحد الجنوب الشرقي"
                [class.error]="form.get('southeastBoundary')?.touched && form.get('southeastBoundary')?.invalid" />
              @if (form.get('southeastBoundary')?.invalid && form.get('southeastBoundary')?.touched)
              {
              @if (form.get('southeastBoundary')?.hasError('required')) {
              <span class="error-message">الحد الجنوب الشرقي مطلوب</span>
              }
              }
            </div>

            <!-- طول الحد الجنوب الشرقي -->
            <div class="form-group">
              <label for="southeastBoundaryLength">طول الحد الجنوب الشرقي<span class="required">*</span></label>
              <input id="southeastBoundaryLength" formControlName="southeastBoundaryLength" type="text"
                placeholder="أدخل طول الحد الجنوب الشرقي"
                [class.error]="form.get('southeastBoundaryLength')?.touched && form.get('southeastBoundaryLength')?.invalid" />
              @if (form.get('southeastBoundaryLength')?.invalid && form.get('southeastBoundaryLength')?.touched)
              {
              @if (form.get('westernBoundaryLength')?.hasError('required')) {
              <span class="error-message">طول الحد الجنوب الشرقي مطلوب</span>
              }
              }
            </div>
            <div class="form-group">
              <div class="form-row"></div>
              <div class="col-md-4"></div>
              <div class="col-md-4"></div>
              <div>م</div>
            </div>

            <!-- الحد الجنوب الغربي -->
            <div class="form-group">
              <label for="southwestBoundary">الحد الجنوب الغربي<span class="required">*</span></label>
              <input id="southwestBoundary" formControlName="southwestBoundary" type="text"
                placeholder="ادخل الحد الجنوب الغربي"
                [class.error]="form.get('southwestBoundary')?.touched && form.get('southwestBoundary')?.invalid" />
              @if (form.get('southwestBoundary')?.invalid && form.get('southwestBoundary')?.touched)
              {
              @if (form.get('southwestBoundary')?.hasError('required')) {
              <span class="error-message">الحد الجنوب الغربي مطلوب</span>
              }
              }
            </div>

            <!-- طول الحد الجنوب الغربي -->
            <div class="form-group">
              <label for="southwestBoundaryLength">طول الحد الجنوب الغربي<span class="required">*</span></label>
              <input id="southwestBoundaryLength" formControlName="southwestBoundaryLength" type="text"
                placeholder="أدخل طول الحد الجنوب الغربي"
                [class.error]="form.get('southwestBoundaryLength')?.touched && form.get('southwestBoundaryLength')?.invalid" />
              @if (form.get('southwestBoundaryLength')?.invalid && form.get('southwestBoundaryLength')?.touched)
              {
              @if (form.get('westernBoundaryLength')?.hasError('required')) {
              <span class="error-message">طول الحد الجنوب الغربي مطلوب</span>
              }
              }
            </div>
            <div class="form-group">
              <div class="form-row"></div>
              <div class="col-md-4"></div>
              <div class="col-md-4"></div>
              <div>م</div>
            </div>
          </div>
        </div>

        <!-- المسؤول الفني -->
        <div class="form-section">
          <h2 class="section-title">بيانات المسؤولين وتاريخ المعاينة</h2>
          <div class="form-row">
            <!-- بيانات المسؤول الفني -->
            <div class="form-group">
              <label for="technicalResponsiblePersonId">رقم المسؤول الفني:<span class="required">*</span></label>
              <input id="technicalResponsiblePersonId" formControlName="technicalResponsiblePersonId" type="text"
                placeholder="رقم المسؤول الفني:"
                [class.error]="form.get('technicalResponsiblePersonId')?.touched && form.get('technicalResponsiblePersonId')?.invalid" />
              @if (form.get('technicalResponsiblePersonId')?.invalid &&
              form.get('technicalResponsiblePersonId')?.touched)
              {
              @if (form.get('technicalResponsiblePersonId')?.hasError('technicalResponsiblePersonId')) {
              <span class="error-message">رقم المسؤول الفني مطلوب</span>
              }
              }
            </div>

            <!-- بيانات المسؤول القانوني -->
            <div class="form-group">
              <label for="legalResponsiblePersonId">رقم المسؤول القانوني:<span class="required">*</span></label>
              <input id="legalResponsiblePersonId" formControlName="legalResponsiblePersonId" type="text"
                placeholder="رقم المسؤول القانوني:"
                [class.error]="form.get('legalResponsiblePersonId')?.touched && form.get('legalResponsiblePersonId')?.invalid" />
              @if (form.get('legalResponsiblePersonId')?.invalid &&
              form.get('legalResponsiblePersonId')?.touched)
              {
              @if (form.get('legalResponsiblePersonId')?.hasError('legalResponsiblePersonId')) {
              <span class="error-message">رقم المسؤول القانوني مطلوب</span>
              }
              }
            </div>
          </div>
          <div class="form-row">
            <!-- تاريخ المعاينة الفنية -->
            <div class="form-group">
              <label for="technicalInspectionDate">تاريخ المعاينة الفنية<span class="required">*</span></label>
              <input id="technicalInspectionDate" formControlName="technicalInspectionDate" type="date"
                placeholder="أدخل تاريخ المعاينة الفنية"
                [class.error]="form.get('technicalInspectionDate')?.touched && form.get('technicalInspectionDate')?.invalid" />
              @if (form.get('technicalInspectionDate')?.invalid &&
              form.get('technicalInspectionDate')?.touched)
              {
              @if (form.get('technicalInspectionDate')?.hasError('technicalInspectionDate')) {
              <span class="error-message">تاريخ المعاينة الفنية مطلوب</span>
              }
              }
            </div>
            <!-- تاريخ لجنة الاحتياج -->
            <div class="form-group">
              <label for="needsCommitteeDate">تاريخ لجنة الاحتياج:<span class="required">*</span></label>
              <input id="needsCommitteeDate" formControlName="needsCommitteeDate" type="date"
                placeholder="أدخل تاريخ لجنة الاحتياج"
                [class.error]="form.get('needsCommitteeDate')?.touched && form.get('needsCommitteeDate')?.invalid" />
              @if (form.get('needsCommitteeDate')?.invalid &&
              form.get('needsCommitteeDate')?.touched)
              {
              @if (form.get('needsCommitteeDate')?.hasError('needsCommitteeDate')) {
              <span class="error-message">تاريخ لجنة الاحتياج مطلوب</span>
              }
              }
            </div>
          </div>
        </div>

        <div class="form-actions">
          <button type="submit" class="btn btn-primary">
            <span>💾</span>
            حفظ
          </button>
        </div>
      </form>
    </div>
  </div>
</div>