<app-header 
  [pageTitle]="'تعديل موقف المباني المؤجرة'"
  [showBackButton]="true"
  [showHomeButton]="true"
  (backClicked)="goBack()"
  (homeClicked)="goHome()"
  (logoutClicked)="logout()"
></app-header>

<div class="container">
  <div class="menu-grid">
    @for (option of statusOptions; track option.id) {
      <div 
        class="menu-card" 
        [style.border-color]="option.color"
        (click)="navigateToOption(option.route)"
      >
        <div class="card-icon" [style.background-color]="option.color">
          {{ option.icon }}
        </div>
        <div class="card-content">
          <h3 class="card-title">{{ option.title }}</h3>
          <p class="card-description">{{ option.description }}</p>
        </div>
        <div class="card-arrow">→</div>
      </div>
    }
  </div>
</div>
